
/* clearfix */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* media queries */
$xs: 320px; /* =<543px */
$sm: 544px; /* =<767px and >=544px */
$md: 768px; /* <=991px and >=768px */
$lg: 992px; /* =<1999px and >=992px */
$xl: 1200px; /* >=1200px */

@mixin mq($min, $max) {
  $query: "all";
  @if $min != 0 and $max != 0 {
    $query: "(min-width: #{$min}) and (max-width: #{$max})";
  }
  @else if $min != 0 and $max == 0 {
    $query: "(min-width: #{$min})";
  }
  @else if $min == 0 and $max != 0 {
    $query: "(max-width: #{$max})";
  }
  @media #{$query} {
    @content;
  }
}
